<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/version/tech-logo.png" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li>
                                <div class="container">
                                    <div class="mega-menu-content clearfix">
                                        <div class="tab">
                                            <button class="tablinks active" onclick="openCategory(event, 'cat01')">Science</button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat02')">Technology</button>
                                            
                                            <button class="tablinks" onclick="openCategory(event, 'cat04')">Reviews</button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat05')">Security</button>
                                        </div>

                                        <div class="tab-details clearfix">
                                            <div id="cat01" class="tabcontent active">
                                                <div class="row">

                                                    
                                                    <%for( var i=0;i<1;i++){%>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/single?id=<%=tagValue[3][i].id%>" title="">
                                                                        <img src="<%=tagValue[3][i].banner%>" alt="" class="img-fluid">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat"><%=tagKey[3].toUpperCase()%></span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/single?id=<%=tagValue[3][i].id%>" title=""><%=(tagValue[3][i].title).slice(0,30)%>...</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                     
                                                     <%}%>

                                                 

                                                   

                                                   
                                                </div><!-- end row -->
                                            </div>
                                            <div id="cat02" class="tabcontent">
                                                <div class="row">
                                                    <%for( var i=0;i<1;i++){%>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/single?id=<%=tagValue[0][i].id%>" title="">
                                                                        <img src="<%=tagValue[0][i].banner%>" alt="" class="img-fluid">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat"><%=tagKey[0].toUpperCase()%></span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/single?id=<%=tagValue[0][i].id%>" title=""><%=(tagValue[0][i].title).slice(0,30)%>...</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                     
                                                     <%}%>

                                                   
                                                </div><!-- end row -->
                                            </div>
                                           
                                            <div id="cat04" class="tabcontent">
                                                <div class="row">
                                                    <%for( var i=0;i<1;i++){%>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/single?id=<%=tagValue[2][i].id%>" title="">
                                                                        <img src="<%=tagValue[2][i].banner%>" alt="" class="img-fluid">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat"><%=tagKey[2].toUpperCase()%></span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/single?id=<%=tagValue[2][i].id%>" title=""><%=(tagValue[2][i].title).slice(0,30)%>...</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                     
                                                     <%}%>
                                                </div><!-- end row -->
                                            </div>
                                            <div id="cat05" class="tabcontent">
                                                <div class="row">
                                                    <%for( var i=0;i<1;i++){%>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/single?id=<%=tagValue[1][i].id%>" title="">
                                                                        <img src="<%=tagValue[1][i].banner%>" alt="" class="img-fluid">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat"><%=tagKey[1].toUpperCase()%></span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/single?id=<%=tagValue[1][i].id%>" title=""><%=(tagValue[1][i].title).slice(0,30)%>...</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                     
                                                     <%}%>
                                                </div><!-- end row -->
                                            </div>
                                        </div><!-- end tab-details -->
                                    </div><!-- end mega-menu-content -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/gadget">Gadgets</a>
                    </li>                    -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/Video">Videos</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/reviews">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/latrosoft"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/Latrosoft"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/latrosoft/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->
